name: Publish

on:
  push:
    tags: ["v*"]

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    name: npm publish
    runs-on: ubuntu-latest
    environment: npm
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - uses: nicknovitski/nix-develop@v1

      - run: pnpm install --frozen-lockfile

      - name: Build jirojs (needed for downstream type checking)
        run: pnpm --filter jirojs build

      - run: pnpm lint

      - run: pnpm build

      - run: pnpm test

      - name: Publish jirojs
        run: pnpm publish --no-git-checks --access public --provenance
        working-directory: packages/jirojs

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
